@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    font-family: 'Fredoka', serif;
}

ul li {
    margin-bottom: 0.5em;
}

a {
    color: blue;
    text-decoration: none;
}

.leiras {
    border: 1px solid black;
    margin-bottom: 1em;
    padding: 0px 1em;
}

.behuzas {
    text-indent: 20px;
}

.dupla-behuzas {
    text-indent: 40px;
}
